body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.body {
    display: flex;
}

.header {
    display: flex;
    height: 200px;
    color: white;
    background-color: #1f2937 ;
    justify-content: center;
}
.title {
    font-weight: bold;
    font-size: 48px;
}

.footer {

}
a {
    text-decoration: none;
    color: white;
}
ul {
    list-style: none;
    display: flex;
    margin-left: 900px;
    gap: 15px;
    
}