body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.body {
    display: flex;
}

.header {
    display: flex;
    color: white;
    background-color: #1f2937 ;
    justify-content: space-around;
    padding: 15px;
}
.header2 {
    display: flex;
    color: aquamarine; 
    background-color: rgb(75, 42, 224) ;
    justify-content: center;
}
.title {
    font-weight: bold;
    font-size: 25px;
    
}
.container1 {
    display: flex;
    color: white;
    background-color: #283f60 ;
    justify-content: space-around;
    padding: 2em;
}

.footer {

}
a {
    text-decoration: none;
    color: white;
}
ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
button {
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    width: 80px;
    height: 35px;
    font-weight: bold;
}
.container2 {
    display: flex;
    background-color: rgb(75, 42, 224);
    color: aqua;
    justify-content: space-evenly;
    padding: 2em;
}
img {
    border:5px solid  rgb(81, 202, 81);
}
.container3 {
    font-size: xxx-large;
    font-family: cursive;
    background-color: rgb(175, 175, 175);
}
.container4 {
    display: flex;
    margin: 50px;
    background-color: #3882F6 ;
    color: white;
    justify-content: center;
}
.addbar {
    display: flex;
    margin: 4em;
    gap: 7em;
}
.button {
    margin-top: auto;
    margin-bottom: auto;
}