body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.body {
    display: flex;
}

.header {
    display: flex;
    color: white;
    background-color: #1f2937 ;
    justify-content: space-around;
    padding: 15px;
}
.header2 {
    display: flex;
    color: aquamarine; 
    background-color: rgb(75, 42, 224) ;
    justify-content: center;
}
.title {
    font-weight: bold;
    font-size: 25px;
    
}
.container1 {
    display: flex;
    color: white;
    background-color: #283f60 ;
    justify-content: space-around;
    padding: 2em;
}

.footer {

}
a {
    text-decoration: none;
    color: white;
}
ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
button {
    background-color: turquoise;
}
.container2 {
    display: flex;
    background-color: rgb(75, 42, 224);
    color: aqua;
    justify-content: space-evenly;
    padding: 2em;
}
img {
    border:5px solid  rgb(81, 202, 81);
}