html{
  --main-bg-color: #283f60;
  --sub-color: #365d92;
  background-color: var(--main-bg-color);
  color: white;
  padding: 0;
}
.form-container{
  display: flex;
  width: 100%;
  background-color: var(--main-bg-color);
}
.form-style{
  padding: 10px;
  background-color: var(--main-bg-color);
}
.head{
  color: #ec9d43;
  background-color: var(--sub-color);
}
.footer{
  background-color: var(--sub-color);
}

.form-img > img{
  width: auto;
  height: 100%;
  max-width: 100%;
  max-height: max-content;
}

input,label{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font: -webkit-control;
  color: #a4c4d2;
}
input {
  border: 2px solid rgb(12, 233, 97);
}
input:focus{
  border: 2px solid rgb(10, 175, 230);
}
input,
textarea,
select,
button{
  width: 150px;
  padding: 0;
  box-sizing: border-box;
}
input[type=submit]{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* This is for testing the confirm */
#cpsw.valid {
  color: green;
}
#cpsw.invalid {
  color: red;
}
.valid{
  color:green;
}
.invalid{
  color: red;
}
/* This is for novalidate */
.error {
  width: 100%;
  font-size: 80%;
  color: white;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}