:root{
  --main-bg-color: #283f60;
  --sub-color: #0a1f3a;
  --header-form-color: #f1a90b;
  --label-color: #a4c4d2;
}

body{
  background-color: var(--main-bg-color);
  margin: 0;
}
.form-container{
  display: flex;
  background-color: var(--main-bg-color);
}
h2{
  margin: 0;
}
.form-style{
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  background-color: var(--main-bg-color);
}
.full-width{
  display: grid;
  grid-column: span 2;
}
header{
  /* display: grid; */
  color: var(--header-form-color);
  background-color: var(--sub-color);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer{
  background-color: var(--sub-color);
  color: white;
}
.test{
  margin-left: 10px;
}

.form-img > img{
  width: auto;
  height: 100%;
  max-width: 100%;
  max-height: max-content;
}
.label-box{
  display: block;
  box-sizing: border-box;
  padding-left: 10px;
}
.label-box > span{
  display: block;
}

label {
  color: var(--label-color);
}

input,label{
  margin-top: 10px;
  font: -webkit-control;
  padding: 0;
  box-sizing: border-box;
  margin-right: 20px;
}
input {
  border: 2px solid rgb(12, 233, 97);
}

input[type=submit]{
  background-color: gray;
  color: white;
  border: none;
  width: 80px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* This is for testing the confirm */
.valid{
  color:green;
}
.invalid{
  color: red;
}

/* testing mail programming */
.valid-input{
  border: 2px solid #18ebda;
}
.invalid-input{
  border: 2px solid red;
}

/* This is for novalidate */
.error {
  width: 100%;
  font-size: 80%;
  color: white;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}
.required {
  color: white;
  font-size: 80%;
}